<h2>Sign Up</h2>

<% if @user.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @user, url: "/users" do |f| %>
  <div>
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :email, "Email" %><br>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password, "Password" %><br>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Create Account" %>
<% end %>

